* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.image {
    background-image: url('rank-logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(250, 10, 10);
    min-height: 80vh;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
}

.cardcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px;
}

.card {
    width: 280px;
    min-height: 400px;
    background-color: rgb(236, 230, 230);
    border-radius: 12px;
    cursor: pointer;
}

.card p {
    margin-top: 22px;
    padding: 8px;
}

.footer {
    width: 100%;
    background-color: rgb(22, 20, 20);
    min-height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.data {
    color: white;
}